body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: grey;
}

#map {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 60px;
    font-weight: bold;
    transition: color 0.2s ease;
    text-transform: uppercase;
    top: 40px;
    left: 80px;
}

/*******  SEARCH  ********/
.search-container {
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 80px;
    width: 400px;
    height: 60px;
    background-color: rgb(88, 78, 84, 0.9);
    transition: color 0.2s ease;
    border-radius: 44px;
    display: flex;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder
{
    color: azure;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

/***** store-list-container *******/
.store-list-container {
    position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    top: 210px;
    left: 80px;
    bottom: 20px;
    border-radius: 30px;
    display: flex;
    overflow: hidden; /* to make scrollbar height matching outer container overflow must be hidden*/
}

.store-container-background {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: rgb(231, 211, 211);
}

.store-container {
    border-bottom: 1px solid black;
}

.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    border: 0.5px solid grey;
    border-radius: 40px;
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 30px;
    height: 5px;
}

.store-address {
    margin-top: 30px;
    font-size: 21px;
    color: #514C4C;
}

.store-phone-number {
    font-size: 16px;
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    display: flex;
    align-items: center;
}

.store-number {
    width: 33px;
    height: 33px;
    background-color: rgb(129, 122, 122);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address span {
    display: block;
}

.store-info-container {
    flex-grow: 1;
}

/*************** MARKER WINDOW INFO *****************/

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

button {
    background-color: #1890ab;
    margin-top: 15px;
    color: whitesmoke;
    font-weight: bold;
    height: 30px;
    font-size: 16px;
    margin-left: 98px;
}

.labels {
    color : whitesmoke;
    font-weight: bold;
}